---
import Base from '@/templates/Base.astro';

export async function getStaticPaths() {
  return [
    { params: { tag: "kubernetes" } },
    { params: { tag: "GKE" } },
    { params: { tag: "community" } },
    { params: { tag: "tutorial" } },
    { params: { tag: "helm" } },
    { params: { tag: "AWS" } },
    { params: { tag: "EKS" } },
  ];
}

const { tag } = Astro.params;
---
<Base pageTitle={tag}>
  <p>Posts tagged with {tag}</p>
</Base>